header{
    background-color: $p1;
    color: white;
    padding: 15px;
    .logo{
        display: flex;
        align-items: center;
        align-content: flex-start;
        img{
            height: 60px;
            margin-right: 5px;
        }
        p{
            margin: 0;
            &:first-of-type{
            font-family: "Gabriola Regular";
            font-size: 30px;
            line-height: 20px;
            span:first-of-type{
                font-family: $font-bold;
                font-size: 15px;
                text-transform: uppercase;
                color: $p3;
                }
            span:last-of-type{
                font-family: $font-regular;
                font-size: 12px;
            }
            }
            &:last-of-type{
                font-family: $font-regular;
                font-size: 12px;
            }
        }
    }

    .services{
        display: flex;
        align-items: center;
        div{
            display: flex;
            align-items: center;
            margin: 0;
            >*{
                margin-left:10px;
            }
        }
        >*{
            margin: 0 5px;
        }
        ul>li{
            display: inline-block;
            padding: 12px 10px;
            margin: 0 5px;
            color:inherit;
            text-transform: uppercase;
            font-size: 12px;
        }
        .burg{
            font-size: 25px;
        }
    }

    a{
        text-decoration: none;
        color: inherit;
        &.phone{
            border: 2px solid white;
            padding: 5px;
            border-radius: 50%;


        }
    }
}


// $dark:grey;

// $theme:$dark;

// @mixin theme ($param) {
//     @if($param == $dark){
//             color: white !important;
//     }
//     @else{
//             color: black !important;
//     }
    
// }

// body{
//     background-color: $theme;
//     // @include theme ($theme)
// }
// @for $i from 1 to 3 {
//     .d#{$i+1}{
//         color: red;
//         font-size: 20px+10px/2*3+10pt;
//     }
// }