.banner{
    padding: 85px 15px;
    background: url(../../../img/clouds.png) 30% 10% no-repeat, url(../../../img/img_city.png) top left/auto 100%, $l31;
    ul li{
        display: inline-block;
        margin-right:20px;
        text-transform: uppercase;
        a{
            margin-right: 15px;
            color: $p4;
        }
        span{
            color: $p4;
        }
    }
}